<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.can.vucutkitle">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Vucut Kitle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".dbyiaktar"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".kayit"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>


        <activity
            android:name=".ilk_acilan_ekran"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".giris"
            android:label="Giriş"></activity>


        <activity
            android:name=".servis.sayac"
            android:label="uyku"></activity>
        <activity
            android:name=".projehakkinda"
            android:label="proje hakkında"></activity>
        <activity
            android:name=".hesaplama_tab.hesaplama_activitiy"
            android:label="Listeleme"
            android:theme="@style/AppTheme"></activity>



        <service
            android:name=".servis.sayac_servis"
            android:stopWithTask="false">
        </service>


    </application>

</manifest>